:root {
  /* Brand Colors */
  --primary: #a000d7;
  --danger: #c70000;
  --black: #000000;
  --white: #ffffff;
  
  /* Grays */
  --gray-900: #260f2a;
  --gray-800: #3a1e3b;
  --gray-700: #523355;
  --gray-600: #674769;
  --gray-500: #86648b;
  --gray-400: #b494b8;
  --gray-300: #e0cbe1;
  --gray-200: #ede2f0;
  --gray-100: #fcf8fc;
  --gray-50: #f6f3f6;
  
  /* Status Colors */
  --success: #10b981;
  --success-light: #d1fae5;
  --success-dark: #047857;
  
  /* UI Colors */
  --error-bg: #fee;
  --error-text: #c00;
  --border-light: #eee;
  --border-default: #8a8e0d;
  --primary-light-bg: #f3e5ff;
  --bg-dark: #000;
  --text-light: #dfdfdf;
}

body {
  background: var(--bg-dark);
  color: var(--text-light);
}

input, textarea, button {
  font: inherit;
  padding: 8px;
  border: 1px solid var(--border-default);
  border-radius: 6px;
}

button {
  background: var(--primary);
  color: var(--white);
  border: none;
}

a {
  color: var(--primary);
  font-weight: 600;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}